<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/expenses"></ion-back-button>
    </ion-buttons>
    <ion-title>Expense Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDelete()">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ loadedExpense.name }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ loadedExpense.description }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label
                  >{{ loadedExpense.timestamp | date:"medium" }}</ion-label
                >
              </ion-item>
              <ion-item (click)="onClaimed()">
                <ion-checkbox [(ngModel)]="expenseClaimed"></ion-checkbox>
                <ion-label class="ion-margin">Claimed?</ion-label>
              </ion-item>
              <ion-item>
                <!-- *ngIf="!photo"> -->
                <ion-img
                  src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"
                ></ion-img>
              </ion-item>
              <ion-item>
                <ion-button color="danger" (click)="onDelete()"
                  >Delete</ion-button
                >
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <p>photo.filepath: {{ photo.filepath }}</p>
  <p>photo.webviewPath: {{ photo.webviewPath }}</p>
  <p>photo.base64: {{ photo.base64 }}</p> -->
</ion-content>
