<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/expenses"></ion-back-button>
    </ion-buttons>
    <ion-title>Add a new expense</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="onSave()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Name:</ion-label>
            <ion-input
              type="text"
              id="expenseName"
              [(ngModel)]="expenseName"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Description:</ion-label>
            <ion-input
              type="text"
              id="expenseDescription"
              [(ngModel)]="expenseDescription"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Amount:</ion-label>
            <ion-input
              type="number"
              id="expenseAmount"
              [(ngModel)]="expenseAmount"
            ></ion-input>
          </ion-item>
          <!-- <ion-item>
            <ion-label position="fixed">Date:</ion-label>
            <ion-input
              type="date"
              id="expenseDate"
              [(ngModel)]="expenseDate"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Time:</ion-label>
            <ion-input
              type="time"
              id="expenseTime"
              [(ngModel)]="expenseTime"
            ></ion-input>
          </ion-item> -->
          <ion-item>
            <ion-label>Date:</ion-label>
            <ion-datetime
              displayFormat="D-MMM-YYYY"
              [(ngModel)]="expenseDate"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Time:</ion-label>
            <ion-datetime
              displayFormat="H:mm"
              [(ngModel)]="expenseTime"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label> Add Picture:</ion-label>
            <ion-button (click)="onTakePhoto()"
              >Take photo
              <ion-icon name="camera" slot="start"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-img (click)="onTakePhoto()" [src]="getPhoto()"></ion-img>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
