<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-note slot="start" class="ion-margin">v0.1.20</ion-note>
    <ion-title>Expenses App</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="./add">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- Container for if there are no expenses -->
        <ng-container *ngIf="expensesList.length == 0">
          <div class="ion-text-center">
            <h3>Hmm, no expenses yet!</h3>
            <p>How about you add your first expense?</p>
            <ion-button color="primary" routerLink="./add">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              Add expense...
            </ion-button>
          </div>
        </ng-container>

        <!-- Container to list the expenses -->
        <ng-container *ngIf="expensesList.length > 0">
          <!-- Container for still to claim -->
          <ng-container>
            <ion-list>
              <ion-list-header>
                <ion-label>Still need to claim:</ion-label>
              </ion-list-header>

              <ng-container *ngFor="let expense of sortBy('timestamp')">
                <ion-item-sliding *ngIf="!expense.claimed">
                  <ion-item-options
                    side="start"
                    (ionSwipe)="[onDelete( expense.id )]"
                  >
                    <ion-item-option
                      color="danger"
                      (click)="[onDelete( expense.id )]"
                      expandable
                    >
                      <ion-icon
                        name="trash-outline"
                        slot="icon-only"
                      ></ion-icon>
                      Delete
                    </ion-item-option>
                  </ion-item-options>

                  <ion-item routerLink="./{{ expense.id }}" detail>
                    <ion-note slot="end">
                      {{ expense.timestamp | date }}
                    </ion-note>
                    <ion-thumbnail slot="start" class="ion-text-center">
                      <!-- <img [src]="getPhotoFromArray(expense.id)" /> -->
                      <ion-icon name="cash-outline" size="large"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">
                      {{ expense.name }} <br />
                      {{ expense.amount | currency:"GBP" }}
                    </ion-label>
                  </ion-item>

                  <ion-item-options
                    side="end"
                    (ionSwipe)="[onClaimed( expense.id, true )]"
                  >
                    <ion-item-option
                      (click)="[onClaimed( expense.id, true )]"
                      color="success"
                      expandable="true"
                    >
                      <ion-icon
                        name="checkmark-outline"
                        slot="icon-only"
                      ></ion-icon>
                      Claimed
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ng-container>
            </ion-list>
          </ng-container>

          <!-- Container for already claimed -->
          <ng-container>
            <ion-list>
              <ion-list-header>
                <ion-label>Have already claimed:</ion-label>
              </ion-list-header>
              <ng-container *ngFor="let expense of sortBy('timestamp')">
                <ion-item-sliding *ngIf="expense.claimed">
                  <ion-item-options
                    side="start"
                    (ionSwipe)="[onDelete( expense.id )]"
                  >
                    <ion-item-option
                      color="danger"
                      (click)="[onDelete( expense.id )]"
                      expandable
                    >
                      <ion-icon
                        name="trash-outline"
                        slot="icon-only"
                      ></ion-icon>
                      Delete
                    </ion-item-option>
                  </ion-item-options>

                  <ion-item routerLink="./{{ expense.id }}" detail>
                    <ion-note slot="end">
                      {{ expense.timestamp | date }}
                    </ion-note>
                    <ion-thumbnail slot="start" class="ion-text-center">
                      <ion-icon
                        name="checkmark-outline"
                        size="large"
                      ></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="ion-text-wrap">
                      {{ expense.name }} <br />
                      {{ expense.amount | currency:"GBP"}}
                    </ion-label>
                  </ion-item>

                  <ion-item-options
                    slot="end"
                    (ionSwipe)="[onClaimed( expense.id, false )]"
                  >
                    <ion-item-option
                      (click)="[onClaimed( expense.id, false )]"
                      color="warning"
                      expandable="true"
                    >
                      <ion-icon
                        name="close-outline"
                        slot="icon-only"
                      ></ion-icon>
                      Unclaim
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ng-container>
            </ion-list>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="expensesList.length > 0">
  <ion-toolbar class="ion-text-right">
    <ion-title>
      Total to claim: {{ totalToClaim | currency:"GBP" }} <br />
      Total claimed: {{ totalClaimed | currency:"GBP" }}
    </ion-title>
  </ion-toolbar>
</ion-footer>
